/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --darker-bg-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    /* overflow: hidden; */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61px;
    height: 19px;
    margin: 30px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

header a {
    padding-top: 12px;
}

header a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

/****** Search and filters ***********/
.search-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.search-title p {
    margin-top: 5px;
    margin-bottom: 0;
}

.search-container form {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 48px;
}

.search-container form div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.search-container form i {
    color: #000000;
}

.search-container input[type=search] {
    width: 54%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--main-bg-color);
    border-left: 0px;
    border-right: 0px;
}

/* to remove the cancel button */
.search-container input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/**** ****/

.search-container button {
    width: 33%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
}

/**** Filters ****/
.filter-container {
    width: 65%;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-weight: bold;
}

.filter-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 45px;
    border: 3px solid var(--darker-bg-color);
    border-radius: 30px;
    padding: 0 17px 0 17px;
    gap: 10px;
    /* cursor: default; */
}

.filter-container i {
    width: 22px;
}

.filter-container a:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    padding: 6px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--darker-bg-color);
    border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergements-cards a {
    /* width: 29%; */
    /* width: 31%; */
    flex: 1 1 29%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 116px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 10px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.hebergements-cards .card-subtitle {
    margin: 0 0 5px 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
    width: 100%;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.activities-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 30px;
    margin-top: 30px;
}

.activities-cards a {
    /* So that the elements take up all the available space and keep the same width  */
    flex: 1 1 193px;
}

.activities-cards .card {
    width: 100%;
    height: 100%;
    padding: 0;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 16px 19px 20px 19px;
    box-sizing: border-box;
}

.activities-cards .card-title {
    margin: 0;
}

/****** Footer ***********/
footer {
    height: 163px;
    background-color: var(--main-bg-color);
    display: flex;
}

footer section {
    flex: 1 1 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .section-title {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    /****** Hebergements ***********/
    .hebergements-cards .card-title {
        font-size: 14px;
    }
    
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards .card-rating {
        margin-bottom: 10px;
    }
    
    /****** Activities ***********/
    .activities-cards img {
        height: 200px;
    }

    .activities-cards .card-content {
        padding-top: 12px;
        padding-bottom: 16px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}